In [ ]:
import pandas as pd

# Read your source data file
file_path = 'routes.csv'  # Update with the actual file path
routes_df = pd.read_csv(file_path)

In [ ]:
from io import StringIO

# Read the 'airports.dat' file from the provided URL as text
airports_url = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat'
airports_data = pd.read_csv(airports_url, header=None, quotechar='"', delimiter=',', names=['Airport ID', 'Name', 'City', 'Country', 'IATA', 'ICAO', 'Latitude', 'Longitude', 'Altitude', 'Timezone', 'DST', 'Tz database timezone', 'Type', 'Source'])

# Display the DataFrame
print(airports_data)

      Airport ID                                         Name          City  \
0              1                               Goroka Airport        Goroka
1              2                               Madang Airport        Madang
2              3                 Mount Hagen Kagamuga Airport   Mount Hagen
3              4                               Nadzab Airport        Nadzab
4              5  Port Moresby Jacksons International Airport  Port Moresby
...          ...                                          ...           ...
7693       14106                          Rogachyovo Air Base        Belaya
7694       14107                        Ulan-Ude East Airport      Ulan Ude
7695       14108                         Krechevitsy Air Base      Novgorod
7696       14109                  Desierto de Atacama Airport       Copiapo
7697       14110                           Melitopol Air Base     Melitopol

               Country IATA  ICAO   Latitude   Longitude  Altitude Timezone  \
0     Papua New Guinea  GKA  AYGA  -6.081690  145.391998      5282       10
1     Papua New Guinea  MAG  AYMD  -5.207080  145.789001        20       10
2     Papua New Guinea  HGU  AYMH  -5.826790  144.296005      5388       10
3     Papua New Guinea  LAE  AYNZ  -6.569803  146.725977       239       10
4     Papua New Guinea  POM  AYPY  -9.443380  147.220001       146       10
...                ...  ...   ...        ...         ...       ...      ...
7693            Russia   \N  ULDA  71.616699   52.478298       272       \N
7694            Russia   \N  XIUW  51.849998  107.737999      1670       \N
7695            Russia   \N  ULLK  58.625000   31.385000        85       \N
7696             Chile  CPO  SCAT -27.261200  -70.779198       670       \N
7697           Ukraine   \N  UKDM  46.880001   35.305000         0       \N

     DST  Tz database timezone     Type       Source
0      U  Pacific/Port_Moresby  airport  OurAirports
1      U  Pacific/Port_Moresby  airport  OurAirports
2      U  Pacific/Port_Moresby  airport  OurAirports
3      U  Pacific/Port_Moresby  airport  OurAirports
4      U  Pacific/Port_Moresby  airport  OurAirports
...   ..                   ...      ...          ...
7693  \N                    \N  airport  OurAirports
7694  \N                    \N  airport  OurAirports
7695  \N                    \N  airport  OurAirports
7696  \N                    \N  airport  OurAirports
7697  \N                    \N  airport  OurAirports

[7698 rows x 14 columns]

In [ ]:
# Read the 'airlines.csv' file from OpenFlights
airlines_path = 'https://raw.githubusercontent.com/jpatokal/openflights/master/data/airlines.dat'
airlines_columns = ['Airline ID', 'Name', 'Alias', 'IATA', 'ICAO', 'Callsign', 'Country', 'Active']
airlines_df = pd.read_csv(airlines_path, names=airlines_columns, header=None)
print(airlines_df)

      Airline ID                                          Name  \
0             -1                                       Unknown
1              1                                Private flight
2              2                                   135 Airways
3              3                                 1Time Airline
4              4  2 Sqn No 1 Elementary Flying Training School
...          ...                                           ...
6157       21248                                   GX Airlines
6158       21251                        Lynx Aviation (L3/SSX)
6159       21268                               Jetgo Australia
6160       21270                                  Air Carnival
6161       21317                                 Svyaz Rossiya

                  Alias IATA ICAO         Callsign         Country Active
0                    \N    -  NaN               \N              \N      Y
1                    \N    -  NaN              NaN             NaN      Y
2                    \N  NaN  GNL          GENERAL   United States      N
3                    \N   1T  RNX          NEXTIME    South Africa      Y
4                    \N  NaN  WYT              NaN  United Kingdom      N
...                 ...  ...  ...              ...             ...    ...
6157                NaN  NaN  CBG            SPRAY           China      Y
6158                NaN  NaN  SSX           Shasta   United States      N
6159                NaN   JG   \N              NaN       Australia      Y
6160                NaN   2S   \N              NaN           India      Y
6161  Russian Commuter    7R  SJM  RussianConnecty          Russia      Y

[6162 rows x 8 columns]

In [ ]:
# Merge routes_df with airlines_df for airline names
routes_df = pd.merge(routes_df, airlines_df[['IATA', 'Name']], left_on='Airline', right_on='IATA', how='left')
routes_df = routes_df.rename(columns={'Name': 'Airline Name'})
routes_df.drop(columns=['IATA'], inplace=True)

In [ ]:
# Merge routes_df with airports_df for source airports
routes_df = pd.merge(routes_df, airports_data[['IATA', 'Name', 'Latitude', 'Longitude']], left_on='Source airport', right_on='IATA', how='left')
routes_df = routes_df.rename(columns={'Name': 'Source Airport Name', 'Latitude': 'Source Latitude', 'Longitude': 'Source Longitude'})
routes_df.drop(columns=['IATA'], inplace=True)

In [ ]:
# Merge routes_df with airports_df for destination airports
routes_df = pd.merge(routes_df, airports_data[['IATA', 'Name', 'Latitude', 'Longitude']], left_on='Destination airport', right_on='IATA', how='left')
routes_df = routes_df.rename(columns={'Name': 'Destination Airport Name', 'Latitude': 'Destination Latitude', 'Longitude': 'Destination Longitude'})
routes_df.drop(columns=['IATA'], inplace=True)

In [ ]:
# Display the updated DataFrame
print(routes_df)

      Airline Airline ID Source airport Source airport ID Destination airport  \
0          2B        410            AER              2965                 KZN
1          2B        410            ASF              2966                 KZN
2          2B        410            ASF              2966                 MRV
3          2B        410            CEK              2968                 KZN
4          2B        410            CEK              2968                 OVB
...       ...        ...            ...               ...                 ...
78216      ZL       4178            WYA              6334                 ADL
78217      ZM      19016            DME              4029                 FRU
78218      ZM      19016            FRU              2912                 DME
78219      ZM      19016            FRU              2912                 OSS
78220      ZM      19016            OSS              2913                 FRU

      Destination airport ID Codeshare  Stops Equipment      Airline Name  \
0                       2990       NaN      0       CR2        Aerocondor
1                       2990       NaN      0       CR2        Aerocondor
2                       2962       NaN      0       CR2        Aerocondor
3                       2990       NaN      0       CR2        Aerocondor
4                       4078       NaN      0       CR2        Aerocondor
...                      ...       ...    ...       ...               ...
78216                   3341       NaN      0       SF3  Regional Express
78217                   2912       NaN      0       734        Apache Air
78218                   4029       NaN      0       734        Apache Air
78219                   2913       NaN      0       734        Apache Air
78220                   2912       NaN      0       734        Apache Air

                    Source Airport Name  Source Latitude  Source Longitude  \
0           Sochi International Airport        43.449902         39.956600
1                     Astrakhan Airport        46.283298         48.006302
2                     Astrakhan Airport        46.283298         48.006302
3         Chelyabinsk Balandino Airport        55.305801         61.503300
4         Chelyabinsk Balandino Airport        55.305801         61.503300
...                                 ...              ...               ...
78216                   Whyalla Airport       -33.058899        137.514008
78217  Domodedovo International Airport        55.408798         37.906300
78218       Manas International Airport        43.061298         74.477600
78219       Manas International Airport        43.061298         74.477600
78220                       Osh Airport        40.609001         72.793297

               Destination Airport Name  Destination Latitude  \
0           Kazan International Airport             55.606201
1           Kazan International Airport             55.606201
2              Mineralnyye Vody Airport             44.225101
3           Kazan International Airport             55.606201
4                    Tolmachevo Airport             55.012600
...                                 ...                   ...
78216    Adelaide International Airport            -34.945000
78217       Manas International Airport             43.061298
78218  Domodedovo International Airport             55.408798
78219                       Osh Airport             40.609001
78220       Manas International Airport             43.061298

       Destination Longitude
0                  49.278702
1                  49.278702
2                  43.081902
3                  49.278702
4                  82.650703
...                      ...
78216             138.531006
78217              74.477600
78218              37.906300
78219              72.793297
78220              74.477600

[78221 rows x 16 columns]

In [ ]:
import pandas as pd

# Assuming you already have the routes_df DataFrame

# Specify the file path and name for the CSV file
csv_file_path = 'flights.csv'

# Save the DataFrame to a CSV file
routes_df.to_csv(csv_file_path, index=False)

print(f'The DataFrame has been successfully saved to {csv_file_path}')

The DataFrame has been successfully saved to flights.csv